#message{
    position: absolute;
    top:0;
    right:0;
    z-index: 1900;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

.kv-upload-progress{
    display: none;
}
